.profileNav{
    height: 5vh;
    width: 90vw;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
}

button{
    color: #EBEBEB;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.blue{
    border-radius: 10px;
    background-color: #57A3D5;
    margin-left: 5px;
    margin-right: 5px;
}